body {
    font-family: "Open Sans", Verdana, "Segoe UI", sans-serif;
    margin: 0;
    padding: 0;
}

header{
    background-color: #8AAFFA;
    min-height: 70px;
}

.logo {
    max-width: 270px;
    padding-top: 15px;
    padding-left: 20px;
}

nav, #hamburger-menu {
    display: none;
}

nav ul {
    padding: 0px;
    background-color: #ffffff;
    margin-bottom: 0px;
    border-bottom: 1px solid #707070;
    border-top: 1px solid #707070;
}

nav li {
    display: block;
}

nav a {
    text-decoration: none;
    color: #000000;
    padding: 10px 45px;
    display: block;
}

nav a:hover {
    background-color: #1346AD;
    color: #ffffff;
}

.current {
    text-decoration: underline;
}

.hamburger-label {
    float: right;
    color: #ffffff;
    font-size: 1.5em;
    display: block;
    padding: 20px 25px;
}

#hamburger-menu:checked ~ nav {
    display: block;
}

h1 {
    padding-left: 30px;
    padding-top: 20px;
    font-size: 20px;
}

h2 {
    padding-left: 30px;
    padding-top: 20px;
    font-size: 15px;
}

p {
    padding-left: 30px;
    padding-right: 30px;
}

input[type=submit] {
    background-color: #36AD7C;
    padding: 10px 25px;
    border-radius: 13px;
    box-shadow: 0 0 7px 0.2px #9c9b9b;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid #817e7e;
    font-size: 15px;
}



/* footer */

footer {
    background-color: #FAB470;
    font-size: 12px;
}

.subtitle {
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 0px;
    padding-top: 15px;
}

.icons {
    font-size: 25px;
    margin-right: 40px;
    margin-top: -25px;
    text-align: center;
    
}

.icons i {
    padding-right: 10px;

}

.subscription {
    display: flex;
    flex-direction: column;
}

#signup {
    padding: 3px 10px;
    margin-top: 6px;
    margin-left: 9px;
}


.sub1 {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-bottom: 20px;

}

.subtext {
    padding-top: 10px;
}



/* get involved */

.button3 {
    margin: 60px 0px;
    text-align: center;
}

.museum {
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-bottom: 40px;
}



/* visit */

.location {
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-bottom: 40px;
}



/* explore */

.kids {
    max-width: 100%;
    margin: 50px 0;
}

.box-1, .box-2, .box-3 {
    border: 3px solid #7A7A7A;
    margin: 30px;
    box-shadow: 0 0 7px 0.2px #9c9b9b;
    padding-bottom: 20px;
}



/* exhibition spaces */

#readmore {
    padding-left: 30px;
    color: #000000;
}

.box-4, .box-5, .box-6, .box-7, .box-8 {
    border: 3px solid #7A7A7A;
    margin: 30px;
    box-shadow: 0 0 7px 0.2px #9c9b9b;
    padding-bottom: 20px;
}

.exhibition {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 30px 0;
}


    
/* index */

.container {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 30px;
}

.Homepageimages {
    max-width: 100%;
    border: 1px solid #9c9b9b;
}

#frontpagetext {
    padding-bottom: 50px;
}



/* special events and exhibition spaces */

.events {
    max-width: 60%;
    display: flex;
    flex-direction: column;
    margin: 20px auto;
}

#buy {
    display: block;
    margin: 40px auto 40px auto;
}

.box-11, .box-12, .box-13 {
    margin-top: 30px;
    margin-bottom: 50px;
}

.box-11, .box-12 {
    border-bottom: 1px solid #c0bbbb;
}








@media (min-width: 700px) {


    header {
        text-align: center;
    }
        
    nav {
        display: flex;
        justify-content: center;
    }
        
    .hamburger-label {
        display: none;
    }

    nav ul {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }

    li {
        display: inline-block;
    }

    h1 {
        padding-left: 50px;
        padding-top: 20px;
        font-size: 20px;
    }
    
    h2 {
        padding-left: 50px;
        padding-top: 20px;
        font-size: 15px;
    }
    
    p {
        padding-left: 50px;
        padding-right: 50px;
    }

    .logo {
        max-width: 350px;
    }
   


    /* footer */

    .subscription {
        flex-direction: row;
        justify-content: space-between;
    }

    .icons {
        margin-top: 15px;
    }

    .sub1 {
        padding-left: 50px;
    }



    /* index */

    .container {
        display: grid;
        grid-gap: 1em;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 30px 50px;
        
    }



    /* explore */

    .box-1, .box-2, .box-3 {
        margin: 50px;
    }    



    /* visit */

    .location {
        max-width: 60%;
    }

    .visittext {
        max-width: 900px;
    }



    /* exhibition spaces */

    #readmore {
        padding-left: 50px;
    }

    .box-4, .box-5, .box-6, .box-7, .box-8 {
        display: flex;
        margin: 50px;
    }

    .b1 {
        flex: 1;
    }

    .b2 {
        flex: 1;
    }

    .exhibition {
        margin-right: 50px;
        margin-top: 30px;
        margin-bottom: 20px;
        min-width: 250px;
        max-width: 70%;
    }

   

    /* get involved */

    .container-1 {
        display: flex;
    }

    .box-9 {
        flex: 2;
    }

    .box-10 {
        flex: 1;
        margin-top: 70px;
        margin-right: 50px;
    }

    .museum {
        max-width: 420px;
    }



    /* special events and exhibition spaces */

    .container-2 {
        display: flex;

    }

    .box-11, .box-12, .box-13 {
        flex: 1;
    }

    .box-11, .box-12 {
        border-right: 1px solid #c0bbbb;
        border-bottom: none;
    }

    
    

}