body {
    font-family: "Open Sans", Verdana, "Segoe UI", sans-serif;
    margin: 0;
    padding: 0;
}

header{
    background-color: #8AAFFA;
    min-height: 70px;
}

.logo {
    max-width: 280px;
    padding-top: 15px;
}

nav, #hamburger-menu {
    display: none;
}

nav ul {
    padding: 0px;
    background-color: #ffffff;
    margin-bottom: 0px;
    border-bottom: 1px solid #707070;
    border-top: 1px solid #707070;
}

nav li {
    display: block;
}

nav a {
    text-decoration: none;
    color: #000000;
    padding: 10px 45px;
    display: block;
}

nav a:hover {
    background-color: #1346AD;
    color: #ffffff;
}

.current {
    font-weight: bold;
}

.hamburger-label {
    float: right;
    color: #ffffff;
    font-size: 1.5em;
    display: block;
    padding: 35px;
}

#hamburger-menu:checked ~ nav {
    display: block;
}

footer {
    background-color: #FAB470;
}

h1 {
    padding-left: 30px;
    padding-top: 20px;
    font-size: 20px;
}

h2 {
    padding-left: 30px;
    padding-top: 20px;
    font-size: 15px;
}

p {
    padding-left: 30px;
    padding-right: 30px;
}

input[type=submit] {
    background-color: #36AD7C;
    padding: 10px 25px;
    border-radius: 13px;
    box-shadow: 0 0 7px 0.2px #9c9b9b;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid #817e7e;
    font-size: 15px;
}




/* get involved */

.button3 {
    margin: 60px 0px;
    text-align: center;
}

.museum {
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-bottom: 40px;
}



/* visit */

.location {
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-bottom: 40px;
}



/* explore */

.kids {
    max-width: 100%;
    margin: 50px 0;
}

.box-1, .box-2, .box-3 {
    border: 3px solid #7A7A7A;
    margin: 60px;
    box-shadow: 0 0 7px 0.2px #9c9b9b;
    padding-bottom: 20px;
}



/* exhibition spaces */

#readmore {
    padding-left: 30px;
    color: #000000;
}

.box-4, .box-5, .box-6, .box-7, .box-8 {
    border: 3px solid #7A7A7A;
    margin: 60px;
    box-shadow: 0 0 7px 0.2px #9c9b9b;
    padding-bottom: 20px;
}

.exhibition {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 30px 0;
    
}


    












@media (min-width: 700px) {


    header {
        text-align: center;
    }
        
    nav {
        display: flex;
        justify-content: center;
    }
        
    .hamburger-label {
        display: none;
    }

    ul {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }

    li {
        display: inline-block;
    }

    .container {
        display: grid;
        grid-gap: 1em;
        grid-template-columns: 1fr 1fr 1fr;
        
    }

    .icons {
       
    }

    h1 {
        padding-left: 50px;
        padding-top: 20px;
        font-size: 20px;
    }
    
    h2 {
        padding-left: 50px;
        padding-top: 20px;
        font-size: 15px;
    }
    

    p {
        padding-left: 50px;
        padding-right: 50px;
    }

   



    /* visit */

    .location {
        max-width: 70%;
        
    }


    /* exhibition spaces */

    #readmore {
        padding-left: 50px;
    }


    



}