body {
    font-family: "Open Sans", Verdana, "Segoe UI", sans-serif;
    margin: 0;
    padding: 0;
}

header{
    background-color: #8AAFFA;
    min-height: 70px;
    padding-top: 15px;
    position: relative;
}

.logo {
    max-width: 250px;
    padding-top: 15px;
    padding-left: 20px;
}

.text-logo {
    text-decoration: none;
    color: #000000;
    font-size: 1.1rem;
    padding-left: 20px;
    position: absolute;
    top: 35px;

}

nav, #hamburger-menu {
    display: none;
}

nav ul {
    padding: 0px;
    background-color: #ffffff;
    margin-bottom: 0px;
    border-bottom: 1px solid #707070;
    border-top: 1px solid #707070;
    
    
}

nav li {
    display: block;
    
}

nav a {
    text-decoration: none;
    color: #000000;
    padding: 10px 45px;
    display: block;
    z-index: 100;
}

nav a:hover {
    background-color: #1346AD;
    color: #ffffff;
}

.current {
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

.hamburger-label {
    float: right;
    color: #ffffff;
    font-size: 1.5em;
    display: block;
    padding: 20px 25px;
}

#hamburger-menu:checked ~ nav {
    display: block;
}

h1 {
    padding-left: 30px;
    padding-top: 20px;
    font-size: 20px;
}

h2 {
    padding-left: 30px;
    padding-top: 20px;
    font-size: 15px;
}

p {
    padding-left: 30px;
    padding-right: 30px;
}

input[type=submit] {
    background-color: #1346AD;
    padding: 10px 25px;
    border-radius: 13px;
    box-shadow: 0 0 7px 0.2px #9c9b9b;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid #817e7e;
    font-size: 15px;
}



/* footer */

footer {
    background-color: #c9c9c9;
    font-size: 12px;
}

.subtitle {
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 0px;
    padding-top: 15px;
}

.icons {
    font-size: 25px;
    margin-right: 40px;
    margin-top: -25px;
    text-align: center;
    
}

.icons i {
    padding-right: 10px;

}

.subscription {
    display: flex;
    flex-direction: column;
}

#signup {
    padding: 6px 15px;
    margin-top: 5px;
    margin-left: 9px;
}


.sub1 {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-bottom: 20px;

}

.subtext {
    padding-top: 10px;
}



/* get involved */

.button3 {
    margin: 60px 0px;
    text-align: center;
}

.button3 button {
    padding: 10px;
    color: #000;
    list-style: none;
    background-color: #babcc436;
    box-shadow: 5px 3px 6px 1px #707070;
}

.museum {
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-bottom: 40px;
}

#form {
    background-color: #ffffff;
    width: 600px;
    margin-left: 40px;
    margin-top: 40px;
    display: block;
    border: 1px solid #888;
    margin: auto;
}

.form {
    display: block;
    margin-bottom: 10px;
}

.fieldset-contact {
    padding-left: 45px;
    padding-top: 30px;
}


.container-1 {
    margin-bottom: 50px;
}


/* visit */

.map-responsive{
    padding-bottom:56.25%;
    position:relative;
    height:0;
    display: block;
    margin: 30px auto 70px auto;
    
}       

.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    display: block;
    margin: 0 auto; 
}


/* explore */

.kids {
    max-width: 100%;
    margin: 50px 0;
}

.box-1, .box-2, .box-3 {
    border: 3px solid #7A7A7A;
    margin: 30px;
    box-shadow: 0 0 7px 0.2px #9c9b9b;
    padding-bottom: 20px;
}



/* exhibition spaces */

#readmore {
    padding-left: 30px;
    color: #000000;
}

.box{
    border: 3px solid #7A7A7A;
    margin: 30px;
    box-shadow: 0 0 7px 0.2px #9c9b9b;
    padding-bottom: 20px;
}

.exhibition {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 30px 0;
}

#btn-more {
    padding: 15px 25px;
    display: flex;
    justify-content: center;
    margin: 30px auto;
    font-size: 1rem;
    border: 1px solid #999696;
    background-color: #c9c9c9;
    font-weight: bold;
}


    
/* index */

.Homepageimages {
    max-width: 100%;
}

#frontpagetext {
    padding-bottom: 50px;
}

.carousel {
    align-items: center;
    display: flex;
    margin: 60px auto 0 auto;
    overflow: hidden;
    position: relative;
    width: 360px;
}

.image-carousel {
    display: flex;
    transform: translateX(0);
    transition: transform 0.25s;
}

.image-carousel img {
    border-radius: 3px;
}

.carousel-button {
    background: #000000;
    border: 0;
    border-radius: 50%;
    color: #ffffff;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
    height: 3rem;
    opacity: 0.5;
    position: absolute;
    transition: opacity 0.25s;
    width: 3rem;
    z-index: 1;
}

#previous {
    left: 5px;
  }
  
#next {
    right: 5px;
  }

.carousel-button:hover {
      opacity: 0.8;
  }

#carousel-text {
      text-align: center;
      margin-bottom: 60px;
      font-size: 0.9rem;
  }



/* special events and exhibition spaces */

.events {
    max-width: 60%;
    display: flex;
    flex-direction: column;
    margin: 20px auto;
}

#buy {
    display: block;
    margin: 40px auto 40px auto;
}

.box-11, .box-12, .box-13 {
    margin-top: 30px;
    margin-bottom: 50px;
}

.box-11, .box-12 {
    border-bottom: 1px solid #c0bbbb;
}








@media (min-width: 700px) {


    header {
        text-align: center;
    }
        
    nav {
        display: flex;
        justify-content: center;
    }
        
    .hamburger-label {
        display: none;
    }

    nav ul {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }

    li {
        display: inline-block;
    }

    h1 {
        padding-left: 50px;
        padding-top: 20px;
        font-size: 20px;
    }
    
    h2 {
        padding-left: 50px;
        padding-top: 20px;
        font-size: 15px;
    }
    
    p {
        padding-left: 50px;
        padding-right: 50px;
    }

    .logo {
        max-width: 350px;
    }


    .text-logo {
        font-size: 1.5rem;
        position: static;
    }
    


    /* footer */

    .subscription {
        flex-direction: row;
        justify-content: space-between;
    }

    .icons {
        margin-top: 15px;
    }

    .sub1 {
        padding-left: 50px;
    }



    /* explore */

    .box-1, .box-2, .box-3 {
        margin: 50px;
    }    



    /* visit */

    .visittext {
        max-width: 900px;
    }

    .map-responsive {
        margin: 30px auto 70px 50px;
    }

    .map-responsive iframe{
        height:70%;
        width:70%;
    }


    /* exhibition spaces */
 
    .box {
        display: flex;
        margin: 50px;
    }

    .b1 {
        flex: 1;
    }

    .b2 {
        flex: 1;
    }

    .exhibition {
        margin-right: 50px;
        margin-top: 30px;
        margin-bottom: 20px;
        min-width: 250px;
        max-width: 70%;
    }

   

    /* get involved */

    .container-1 {
        display: flex;
    }

    .box-9 {
        flex: 2;
    }

    .box-10 {
        flex: 1;
        margin-top: 70px;
        margin-right: 50px;
    }

    .museum {
        max-width: 420px;
    }



    /* special events and exhibition spaces */

    .container-2 {
        display: flex;

    }

    .box-11, .box-12, .box-13 {
        flex: 1;
    }

    .box-11, .box-12 {
        border-right: 1px solid #c0bbbb;
        border-bottom: none;
    }

    
    

}